/* main */
.web {
    display: none;
}


.dim {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.30);
    z-index: 10;
    transition:all 0.5s;
}
.header {
    position: relative;
    background:var(--white);
    z-index: 10;
}
.header.fix {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;transition: position 0.5s ease-in-out
}

.header .header_top {
    width: 100%;
    padding-bottom: 2px;
    background: var(--basic_blue);
}

.header .header_top ul {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: calc(100% - 25px);
}

.header .header_top ul li {
    position: relative;
}

.header .header_top ul li a {
    font-size: 1.2rem;
    color: var(--white);
    line-height: 2.4rem;
}

.header .header_top ul li:after {
    content: '';
    position: absolute;
    top: 12px;
    left: -10px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: var(--white);
    border-radius: 100%;
}

.header .header_top ul li:first-child:after {
    display: none
}

.header .gnb.mobile {
    width: 100%;
}

.header .gnb.mobile .icon {
    width: 24px;
    height: 24px;
    text-indent: -9999px;
}

.header .gnb.mobile .gnb_main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 19px 23px 16px 24px;
    box-sizing: border-box;
}

.header .gnb.mobile .gnb_main h1 {
    font-size: 0;
}

.header .gnb.mobile .gnb_main .menu {
    display: flex;
    gap: 18px;
}

.header .gnb.mobile .gnb_main .menu .icon_search {
    background: url(/resources/img/common/icon_search.svg) no-repeat;
}

.header .gnb.mobile .gnb_main .menu .icon_close {
    display: none;
    background: url(/resources/img/common/icon_close.svg) no-repeat;
}

.header .gnb.mobile .gnb_main .menu .icon_menu {
    background: url(/resources/img/common/icon_menu.svg) no-repeat;
}

.header .gnb.mobile .gnb_sub {
    opacity: 0;
    position: fixed;
    top: 26px;
    left: auto;
    right: -200vw;
    width: 100%;
    height: calc(100% - 26px);
    overflow-y: auto;
    background-color: var(--white);
    transition: all 0.35s ease-in;
    z-index: 9999;
}

.header .gnb.mobile .gnb_sub.open {
    opacity: 1;
    right: 0;
}

.header .gnb.mobile .gnb_sub .icon_close {
    position: absolute;
    top: 17px;
    right: 23px;
    background: url(/resources/img/common/icon_close.svg) no-repeat;
}

.header .gnb.mobile .gnb_sub>ul {
    padding: 60px 20px 0;
}

.header .gnb.mobile .gnb_sub>ul li {
    margin-bottom: 30px;
}

.header .gnb.mobile .gnb_sub>ul li .depth1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .gnb.mobile .gnb_sub>ul li .depth1.on a {
    color: var(--basic_blue);
}

.header .gnb.mobile .gnb_sub>ul li .depth1 a {
    color: var(--title_navy);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 150%;
}

.header .gnb.mobile .gnb_sub>ul li .depth1 .icon_toggle {
    margin-right: 7px;
    width: 14px;
    height: 14px;
    background: url(/resources/img/common/icon_nav_close.svg) no-repeat center;
    background-size: contain
}

.header .gnb.mobile .gnb_sub>ul li .depth1 .icon_toggle.open {
    background: url(/resources/img/common/icon_nav_open.svg) no-repeat center;
    background-size: cover;
}

.header .gnb.mobile .gnb_sub>ul li .depth2 {
    display: none;
    margin: 10px 0 0 0;
    padding: 0 0 16px 20px;
    border-bottom: 1px solid var(--basic_blue)
}

.header .gnb.mobile .gnb_sub>ul li .depth2.open {
    display: block;
}

.header .gnb.mobile .gnb_sub>ul li .depth2 li {
    margin-bottom: 0
}

.header .gnb.mobile .gnb_sub>ul li .depth2 li a {
    font-size: 1.6rem;
    line-height: 250%;
}
.header .gnb.mobile .gnb_search {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 55px 24px 56px 24px;
    font-size: 1.6rem;
    line-height: 250%;
    background: var(--basic-light-blue);
    z-index: 99;
}
.header .gnb.mobile .gnb_search div {
    position: relative;
    display: flex;
    padding: 0 26px 0 20px;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--grey04);
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
}

.header .gnb.mobile .gnb_search div:focus-within {
    border: 1px solid var(--basic_blue);
}
.header .gnb.mobile .gnb_search div label {
    width: calc(100% - 58px);
}
.header .gnb.mobile .gnb_search div label input {
    padding: 15px 0;
    background: var(--white);
    border: none;
    font-size: 1.6rem;
    color: var(--basic-dark-navy);
    line-height: 150%;
    box-sizing: border-box;
}
.header .gnb.mobile .gnb_search div .icon_search {
    background:url(/resources/img/common/icon_search.svg) no-repeat;
    }
.header .gnb.mobile .gnb_search div .icon_search_close {
    background:url(/resources/img/common/icon_search_close.svg) no-repeat;
}

.main {
    position: relative;
    padding-bottom: 69px;
}

.main:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 959px;
    background: linear-gradient(180deg,rgba(5,79,164,0.00) 4.33%,#054FA4 30.24%);
}


.main .visual {
    position: relative;
    padding: 60px 25px 277px;
    overflow: hidden;
}

.main .visual video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .visual .title {
    position: relative;
    margin-bottom: 30px;
    font-family: 'Pretendard';
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--white)
}

.main .visual .sub {
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--white)
}

.main .info {
    position: relative;
    margin: 0 24px;
    margin-top: -30px;
    padding: 45px 20px 36px;
    background-color: var(--white);
    border-radius: 10px;
    z-index: 1;
}

.main .info .title {
    margin: 0 auto 16px;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    word-break: keep-all;
}

.main .info .sub {
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 160%;
    color: var(--title_grey);
    text-align: center;
    word-break: keep-all;
}

.main .info ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 45px;
}

.main .info ul li {
    color: var(--basic_blue);
    font-size: 1.8rem;
}

.main .info ul li .icon {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 58px;
    background-color: #F2F6FD;
    margin-right: 26px;
    vertical-align: middle;
    border-radius: 17.714px;
    transition: all 0.35s ease-in-out;
}
.main .info ul li .icon:hover {
    background-color:#CFE1FF;
}

.main .info ul li .icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 44px;
    height: 44px;
}

.company {
    padding: 67px 0 122px;
}

.company article {
    position: relative;
    margin-bottom: 102px;
}

.company article:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -69px;
    transform: translate(-50%,0);
    display: block;
    width: 3px;
    height: 45px;
    background-color: var(--basic-dark-navy);
}

.company article .title {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(----basic-dark-navy);
    text-align: center;
}

.company article .sub {
    margin-top: 25px;
    font-size: 1.6rem;
    color: var(----basic-dark-navy);
    line-height: 160%;
    text-align: center;
}

.company ul {
    margin: 0 24px;
}

.company ul li {
    margin-bottom: 68px;
}

.company ul li:last-child {
    margin-bottom: 0;
}

.company ul li .img {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 26px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.35s ease-in-out;
}

.company ul li .img.company1 {
    background: url(/resources/img/main/img_company1.jpg) no-repeat center right;
    background-size: 100% auto;
}

.company ul li .img.company2 {
    background: url(/resources/img/main/img_company2.jpg) no-repeat center right;
    background-size: 100% auto;
}

.company ul li .img.company3 {
    background: url(/resources/img/main/img_company3.jpg) no-repeat center center;
    background-size: 100% auto;
}

.company ul li .img.company4 {
    background: url(/resources/img/main/img_company4.jpg) no-repeat center right;
    background-size: 100% auto;
}

.company ul li .img:hover {
    background-size: 110% auto;
}
.company ul li .img:hover:after {
    content:'';
    position: absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#007aff40;
}

.company ul li .img span {
    position: absolute;
    top: 47px;
    right: -6px;
    transform: rotate(90deg);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%;
    /* 18px */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--white);
}

.company ul li .text {
    position: relative;
}

.company ul li .text .title {
    display: block;
    margin-left: 5px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--basic_blue)
}

.company ul li .text .sub {
    margin: 15px 0 0 5px;
    font-size: 1.4rem;
    line-height: 160%;
    color: var(--grey01)
}

.company ul li .text .btn_link {
    position: absolute;
    top: 6px;
    right: 3px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--basic_blue);
}

.company ul li .text .btn_link:after {
    content: "";
    position: relative;
    top: -1px;
    display: inline-block;
    width: 24px;
    height: 14px;
    background: url(/resources/img/main/icon_arrow_right_blue.svg) no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}

.sustainability {
    padding: 50px 0 49px;
    background: url(/resources/img/main/img_sustainability.jpg) no-repeat;
    background-size: cover;
    text-align: center
}

.sustainability .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white)
}

.sustainability .sub {
    margin: 14px auto 17px;
    font-size: 1.4rem;
    color: var(--white);
    line-height: 160%;
    text-transform: uppercase
}

.sustainability .btn {
    position: relative;
    display: inline-block;
    font-size: 0;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
    transition: all 0.35s ease-in-out;
}

.sustainability .btn:hover {
    background-color:var(--white);
    color:var(--title_navy);
}
.sustainability .btn:after {
    content: "";
    position: absolute;
    top: 13px;
    right: 24px;
    display: block;
    width: 24px;
    height: 14px;
    background: url(/resources/img/main/icon_arrow_right_white.svg) no-repeat;
}

.sustainability .btn:hover:after {
    background: url(/resources/img/main/icon_arrow_right_black.svg) no-repeat;
}

.sustainability .btn a {
    display: block;
    position: relative;
    padding: 9px 58px 10px 24px;
    font-size: 1.4rem;
    line-height: 150%;
}

.recruiting {
    padding: 20px 0 80px;
}

.recruiting dl {
    margin-bottom: 20px;
    padding: 60px 0 58px;
    color: var(--basic_blue);
    background: url(/resources/img/main/img_recruiting1.jpg) no-repeat center;
    text-align: center;
    background-size: cover;
    transition: all 0.35s ease-in-out;
}
.recruiting dl:last-child {
    margin-bottom: 0;
    padding: 50px 0 43px;
    color: var(--white);
    background: url(/resources/img/main/img_recruiting2.jpg) no-repeat center;
    background-size: cover;
}
.recruiting dl .title {
    font-size: 2rem;
    font-weight: 700;
}

.recruiting dl .sub {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 160%;
    text-transform: uppercase
}

.footer.mobile {
    display: flex;
    flex-wrap: wrap;
    flex-start;justify-content: space-between;
    row-gap: 26px;
    padding: 40px 24px 38px;
    background-color: var(--title_navy)
}

.footer.mobile ul {
    width: 50%;
}

.footer.mobile ul li a {
    font-size: 1.2rem;
    color: var(--white);
    line-height: 250%;
}

.footer.mobile ul li a .icon_link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/resources/img/common/icon_link.svg) no-repeat;
    opacity: 0.5;
    text-indent: -9999px;
    margin-left: 4px;
    vertical-align: middle;
}

.footer.mobile .copylight {
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--white);
    opacity: 0.5;
}

@media (min-width: 640px) {
    .main:after {padding-bottom:620px;}
    .main .info .title br,
    .main .info .sub br{
        display: none;
    }
    .main .info ul {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .main .info ul li {
        width: 50%;
    }
}


@media (min-width: 768px) {

    .main:after {padding-bottom:727px;}
    .main .info {padding-top: 56px;padding-bottom: 77px;;}
    .main .info .title {
        width:65.625vw;
        margin-bottom: 23px;;
    }
    .main .info .title {
        width:65.625vw;
    }
    .main .info ul {margin-top: 48px;row-gap: 30px;column-gap: 52px;justify-content: center;}
    .main .info ul li {width:30.46875vw;}

    .company ul {
        display: flex;
        justify-content: space-between;
        column-gap: 42px;
        flex-wrap: wrap;
        flex-direction: row;
        margin:0 50px;
    }
        
    .company ul li {width:calc(50% - 21px);}
    .company ul li:nth-child(n+3) {margin-bottom: 0;}
    .company ul li .img {height:39.0625vw}
    .sustainability .sub {margin-bottom: 43px;;}
    .sustainability .sub br:not(.mobile){display: none;}
    .recruiting dl {padding:61px 0 80px}
    .recruiting dl:last-child {padding:61px 0 73px}
    .recruiting dl:first-child .sub br:nth-child(n+2) {display: none;}
    .recruiting dl:last-child .sub br:first-child,
    .recruiting dl:last-child .sub br:last-child {display: none;}
    

 }

/** WEB **/
@media (min-width: 1024px) {
    .web {
        display:block !important;
    }

    .mobile {
        display: none !important
    }

    .header .header_top {
        padding: 8px 0;
    }

    .header .header_top ul {
        gap: 2.2vw;
        justify-content: flex-end;
        width: calc(100% - 9.375vw);
    }

    .header .header_top ul li a {
        font-size: clamp(11px,0.72vw,14px);
    }

    .header .header_top ul li:after {
        top: 11px;
        left: -24px;
        width: 3px;
        height: 3px;
    }

    .header .gnb.web {
        width: 100%;
    }

    .header .gnb.web .icon {
        width: min(1.5625vw,30px);
        height: min(1.5625vw,30px);
        text-indent: -9999px;
    }

    .header .gnb.web .gnb_main {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.25vw 9.375vw 1.32vw;
        background: var(--white);
        box-sizing: border-box;
        z-index: 1;
    }

    .header .gnb.web .gnb_main h1 {
        /* margin-right:9.81vw; */
        font-size: 0;
    }

    .header .gnb.web .gnb_main h1 a img {
        width: min(15.625vw,300px)
    }

    .header .gnb.web .gnb_main ul {
        display: flex;
        gap: 4.6875vw;
        margin-left: -0.78125vw;
        /* margin:0 10.729vw 0 9.79vw; */
    }

    .header .gnb.web .gnb_main ul li.on a {
        color: var(--basic_blue);
    }
    .header .gnb.web .gnb_main ul li:hover a {
        color: var(--basic_blue);

    }

    .header .gnb.web .gnb_main ul li a {
        font-size: min(1.0416vw,20px);
        line-height: 150%;
        color: var(--basic-dark-navy);
        text-align: center;
    }

    .header .gnb.web .gnb_main .menu {
        display: flex;
        gap: 1.0416vw;
    }

    .header .gnb.web .gnb_main .menu .icon_search {
        background: url(/resources/img/common/icon_search.svg) no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .header .gnb.web .gnb_main .menu .icon_close {
        display: none;
        background: url(/resources/img/common/icon_close.svg) no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .header .gnb.web .gnb_main .menu .icon_menu {
        background: url(/resources/img/common/icon_menu.svg) no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    .header .gnb.web .gnb_sub {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto !important;
        padding: 2.552vw 9.375vw 3.072vw 15.625vw;
        background-color: var(--basic-light-blue);
        box-sizing: border-box;
        z-index: 99;
    }


    /* 클래스 nav 붙은 경우:메뉴에서 사용 */
    .header .gnb.web .gnb_sub.nav {
        display: block !important;
        height: 100vh !important;
        overflow-y: auto;
        top: 40px;
        padding: 4.6875vw 9.375vw 7.916vw;
    }

    .header .gnb.web .gnb_sub.nav .icon_close {
        position: absolute;
        top: 1.65vw;
        right: 9.375vw;
        display: block;
        background: url(/resources/img/common/icon_close.svg) no-repeat;
    }

    .header .gnb.web .gnb_sub.nav>div {
        display: flex !important;
        margin-bottom: 2.08vw;
    }

    .header .gnb.web .gnb_sub.nav>div:last-child {
        margin-bottom: 0
    }

    .header .gnb.web .gnb_sub.nav>div ul {
        column-gap: 3.125vw
    }

    .header .gnb.web .gnb_sub.nav>div ul {
        width: 50vw
    }

    .header .gnb.web .gnb_sub .icon_close {
        display: none
    }

    .header .gnb.web .gnb_sub>div {
        display: none;
    }

    .header .gnb.web .gnb_sub>div .img {
        position: relative;
        width: 15.625vw;
        height: 6.25vw;
        border-radius: 10px;
        transition: all 0.35s ease-in;
    }
    .header .gnb.web .gnb_sub>div .img.none {
        opacity: 0;
        height: 0;
    }

    .header .gnb.web .gnb_sub>div[data-gnb="1"] .img {
        background: url(/resources/img/common/img_gnb_thum1.jpg) no-repeat;
        background-size: cover;
    }

    .header .gnb.web .gnb_sub>div[data-gnb="2"] .img {
        background: url(/resources/img/common/img_gnb_thum2.jpg) no-repeat;
        background-size: cover;
    }

    .header .gnb.web .gnb_sub>div[data-gnb="3"] .img {
        background: url(/resources/img/common/img_gnb_thum3.jpg) no-repeat;
        background-size: cover;
    }

    .header .gnb.web .gnb_sub>div[data-gnb="4"] .img {
        background: url(/resources/img/common/img_gnb_thum4.jpg) no-repeat;
        background-size: cover;
    }

    .header .gnb.web .gnb_sub>div[data-gnb="5"] .img {
        background: url(/resources/img/common/img_gnb_thum5.jpg) no-repeat;
        background-size: cover;
    }

    .header .gnb.web .gnb_sub>div .img span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        font-size: min(1.25vw,24px);
        font-weight: 500;
        line-height: 150%;
        text-align: center;
        color: var(--white);
    }

    .header .gnb.web .gnb_sub>div ul {
        display: flex;
        column-gap: 5.20vw;
        flex-wrap: wrap;
        align-items: center;
        width: 40vw;
        margin-left: 3.59vw;
    }

    .header .gnb.web .gnb_sub>div ul li {
        min-width: 72px;
    }

    .header .gnb.web .gnb_sub>div ul li a {
        font-size: min(0.9375vw,18px);
        transition: all 0.35s ease-in;
    }
    .header .gnb.web .gnb_sub>div ul li a:hover {
        background: var(--gradient_blue, linear-gradient(270deg, #3973D1 0%, #004098 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .header .gnb.web .gnb_search {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        padding: 4.1145vw 0 4.3229vw;
        background: var(--basic-light-blue);
        z-index: 99;
    }
    .header .gnb.web .gnb_search div {
        position: relative;
        display: flex;
        width:min(26.0416vw, 500px);
        margin:0 auto;
        padding: 0 1.3541vw 0 1.5104vw;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--grey04);
        background-color: var(--white);
        border-radius: 10px;
        overflow: hidden;
    }

    .header .gnb.web .gnb_search div:focus-within {
        border: 1px solid var(--basic_blue);
    }
    .header .gnb.web .gnb_search div label{
        width:80%;
    }
    .header .gnb.web .gnb_search div label input {
        width:100%;
        padding: 1.093vw 0;
        background: var(--white);
        border: none;
        font-size: min(0.9375vw, 18px );
        color: var(--basic-dark-navy);
        line-height: 133.333%;
        box-sizing: border-box;
    }
    .header .gnb.web .gnb_search div .icon_search {
        background:url(/resources/img/common/icon_search.svg) no-repeat center;
        }
    .header .gnb.web .gnb_search div .icon_search_close {
        background:url(/resources/img/common/icon_search_close.svg) no-repeat center;
    }

    .main {
        padding-bottom: 5.15625vw
    }

    .main:after {
        padding-bottom: 54.27vw;
        background: linear-gradient(180deg,rgba(5,79,164,0.00) 4.33%,#054FA4 38.49%);
    }

    .main .visual {
        padding: 15.789vw 0 26.718vw 9.38vw;
    }

    .main .visual .title {
        margin-bottom: 1.9vw;
        font-size: min(4.2708vw,82px)
    }

    .main .visual .sub {
        font-size: min(1.25vw,24px);
        line-height: 200%;
    }

    .main .info {
        margin: 0 5.729vw;
        margin-top: -9.15vw;
        padding: 3.8vw 7.8125vw 3.489vw
    }

    .main .info .title {
        margin: 0 auto 1.145vw;
        font-size: min(2.083vw,40px);
    }

    .main .info .sub {
        font-size: min(0.9375vw,18px)
    }

    .main .info ul {
        position: relative;
        flex-direction: row;
        row-gap: 0;
        column-gap: 6.6145vw;
        justify-content: center;
        margin-top: 5.520vw;
    }

    .main .info ul:before {
        content: '';
        position: absolute;
        top: -2.5875vw;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        max-width: 1400px;
        height: 1px;
        background-color: var(--basic_blue);
        opacity: 0.2
    }

    .main .info ul li {
        width:auto;
        color: var(--basic_blue);
        font-size: min(1.25vw,24px);
        text-align: center
    }

    .main .info ul li .icon {
        display: block;
        width: min(6.25vw,120px);
        height: min(6.25vw,120px);
        margin: 0 auto 0.729vw;
        border-radius: min(1.77083vw, 34px);
    }

    .main .info ul li .icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: min(4.375vw,84px);
        height: min(4.375vw,84px);
    }

    .company {
        display: flex;
        justify-content: space-between;
        padding: 9.218vw 8.33vw 8.33vw;
    }

    .company article {
        position: relative;
        width: 29.16vw;
        margin: 7.9vw 0 0 0;
    }

    .company article:after {
        content: '';
        position: absolute;
        top: 23vw;
        left: 1vw;
        bottom: auto;
        transform: translate(0,0);
        width: 4.6875vw;
        height: 0.2604vw;
    }

    .company article .title {
        margin-left: 1vw;
        font-size: min(3.33vw,64px);
        text-align: left;
    }

    .company article .sub {
        margin-top: 2.9vw;
        margin-left: 1vw;
        font-size: min(1.25vw,24px);
        text-align: left;
    }

    .company ul {
        display: flex;
        width: 54.16vw;
        column-gap: 5.2vw;
        flex-wrap: wrap;
        margin: 0;
        align-items: start
    }

    .company ul li {
        width: 23.958vw;
        margin-bottom: 0;
    }

    .company ul li:nth-child(2n) {
        margin-top: 8.333vw;
    }

    .company ul li:nth-child(3) {
        margin-top: -0.5vw
    }

    .company ul li:last-child {
        margin-bottom: 0;
    }

    .company ul li .img {
        position: relative;
        width: 23.958vw;
        height: 25.641vw;
        margin-bottom: 2.083vw;
    }

    .company ul li .img span {
        position: absolute;
        top: 3.25vw;
        right: 0;
        display: block;
        width: 101px;
        font-size: min(0.9375vw,18px);
        line-height: 150%;
    }

    .company ul li .text {
        position: relative;
    }

    .company ul li .text .title {
        margin-bottom: 1.041vw;
        margin-left: 0;
        font-size: min(2.083vw,40px);
        color:var(--basic_blue);
    }
    .company ul li .text .sub {
        margin: 1.0416vw 10px 0 0;
        font-size: min(0.9375vw,18px);
    }

    .company ul li .text .btn_link {
        position: absolute;
        top: 1vw;
        right: 10px;
        font-size: min(0.729vw,14px);
        color: var(--basic_blue);
    }

    .company ul li .text .btn_link:after {
        top: -1px;
        height: 14px;
        background:url('/resources/img/main/icon_arrow_right_blue.svg') no-repeat;
        margin-left: 13px;
        background-size: contain;
    }

    .sustainability {
        padding: 6.30vw 0 6.77vw;
    }

    .sustainability .title {
        font-size: min(2.08vw,40px);
    }

    .sustainability .sub {
        margin: 1.04vw auto 2.56vw;
        font-size: min(1.04vw,20px)
    }

    .sustainability .btn:after {
        top: 1.2vw;
        right: 2.5vw;
        background-size: contain
    }
    .sustainability .btn:hover:after {
        background-size: contain
    }

    .sustainability .btn a {
        padding: 0.833vw 4.791vw 0.833vw 2.60vw;
        font-size: min(1.04vw,20px);
    }

    .recruiting {
        display: flex;
        justify-content: space-between;
        gap: 1.5625vw;
        padding: 7.447vw 9.375vw 6.25vw;
    }

    .recruiting dl {
        width: 100%;
        margin-bottom: 0;
        padding: 5.208vw 0 4.28vw 2.08vw;
        text-align: left;
        border-radius: 30px;
        background-size: 100% auto;
    }

    .recruiting dl:last-child {
        margin-bottom: 0;
        padding: 5.208vw 0 4.28vw 2.08vw;
        background-size: 100% auto;
    }
    .recruiting dl:hover ,
    .recruiting dl:last-child:hover {
        background-size: 110% auto;
    }
    .recruiting dl .title {
        font-size: min(2.08vw,40px);
    }

    .recruiting dl .sub {
        margin-top: 1.614vw;
        font-size: min(1.04vw,20px);
        line-height: 150%;
    }

    .footer.web {
        display: flex;
        flex-direction: column;
        padding: 4.46vw 9.375vw 4.42vw;
        background: var(--basic-dark-navy);
    }

    .footer.web .footer_top {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.77vw;
    }

    .footer.web .footer_top:before {
        content: '';
        position: absolute;
        bottom: -4.166vw;
        left: 50%;
        transform: translate(-50%,0);
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(255,255,255,0.20);
    }

    .footer.web .footer_top>ul {
        display: flex;
        gap: 5.05vw;
    }

    .footer.web .footer_top>ul .depth1 {
    }

    .footer.web .footer_top>ul .depth1 b {
        display: block;
        margin-bottom: 1.45vw;
        font-size: min(0.9375vw,18px);
        color: var(--white);
        font-weight: 700;
    }

    .footer.web .footer_top>ul .depth1 .depth2 {
    }

    .footer.web .footer_top>ul .depth1 .depth2 li {
    }

    .footer.web .footer_top>ul .depth1 .depth2 li a {
        font-size: min(0.833vw,16px);
        color: var(--white);
        line-height: 240%;
    }

    .footer.web .footer_top>div {
        display: flex;
        flex-direction: column;
        gap: 5.416vw;
    }

    .footer.web .footer_top>div ul {
        position: relative;
    }

    .footer.web .footer_top>div ul:first-child:before {
        content: '';
        position: absolute;
        bottom: -2.7083vw;
        left: 0;
        display: block;
        width: 2.34375vw;
        height: 1px;
        background: var(--white);
    }

    .footer.web .footer_top>div ul li {
    }

    .footer.web .footer_top>div ul li a {
        font-size: min(0.78125vw,15px);
        line-height: 240%;
        letter-spacing: -0.6px;
        font-weight: 500;
        color: var(--white);
    }

    .footer.web .footer_top>div ul li a .icon_link {
        display: inline-block;
        width: 0.83vw;
        height: 0.83vw;
        background: url(/resources/img/common/icon_link.svg) no-repeat;
        background-size: cover;
        text-indent: -9999px;
        margin-left: 4px;
        vertical-align: middle;
    }

    .footer.web .footer_bottom {
        display: flex;
        gap: 1.927vw;
        align-items: center;
    }

    .footer.web .footer_bottom img {
        width: min(12.239vw,239px);
    }

    .footer.web .footer_bottom p {
        font-size: min(0.78vw,15px);
        line-height: 233%;
        color: rgba(255,255,255,0.60);
    }
}
