@charset "UTF-8";

@import url("../css/font.css");
@import url("../css/reset.css");
@import url("../css/common.css?v1.0");


:root {
    --basic_blue: #004098;
    --white : #fff;
    --title_navy : #131B2C;
    --basic-dark-navy : #131B2C;
    --grey01 : #6B6E72;
    --grey04 : #B3B5B9;
}