@charset "UTF-8";

@import url("../css/font.css");
@import url("../css/reset.css");
@import url("../css/common.css?v1.0");
@import url("../css/utils.css");


:root {
    --white : #fff;
    --black : #000;
    --basic_blue: #004098;
    --basic-light-blue : #F2F6FF; /* 추가*/
    --basic-dark-navy : #131B2C;
    --title_navy : #131B2C;
    --title_grey : #5D626C;
    --title_error : red;
    --pastel_blue : #F2F6FD;
    --grey01 : #6B6E72;
    --grey02 : #8C9299;
    --grey04 : #B3B5B9;
    --gradient_blue : linear-gradient(270deg, #3973D1 0%, #004098 100%)
}