@charset "UTF-8";

@import url("../css/font.css");
@import url("../css/reset.css");
@import url("../css/common.css?v1.2");
@import url("../css/utils.css");


:root {
    --white : #fff;
    --black : #000;
    --dark_black : #282828;
    --basic_blue : #004098;
    --grey01 : #6B6E72;
    --grey02 : #F1F3F5;
    --orange : #ff6d01;
}